

.r1-col1 {
    margin-right: 30px;
    background-color: black;
    opacity: .6;
    margin-top: 20px;
    height: 600px;
    border-radius: 10px;
    
}

.r1-col2{
    margin-left: 30px;
    background-color: black;
    opacity: .6;
    margin-top: 20px;
    height: 600px;
    text-align: center;
    border-radius: 10px;
}


.album-cover {
    margin: 20px auto;
    height: 300px;
    width: 300px;
    text-align: center;
}

.onQueu{
    margin: auto;
}

