.App {
  text-align: center;
}

body{
 background: url("https://images.pexels.com/photos/164732/pexels-photo-164732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-size:cover;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.no-data {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
